/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.flex{
    display: flex;
}

.margin-auto{
    margin: 0 auto;
}

.pos-rel{
    position: relative;
}

.dim{
    width: 70%;
}

.small-txt{
    font-size: 1rem;
}

.medium-txt{
    font-size: 1.2rem;
}

/* HEADER */

header{
    height: 5rem;
    background-color: #ff6900;
}

header ul{
    list-style-type: none;
}

header li{
    color: white;
    padding-right: 1rem;
}

header>div{
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

div.logo img{
    height: 2.5rem;
    vertical-align: middle;
}

header .header-img{
    height: 2rem;
    width: 2rem;
    margin-left: 0.5rem;
}

/* ----MAIN----- */

div.row{
    padding: 3rem 0;
}

div.column{
    width: calc(100% / 3);
    padding: 0 7px;
}

div.column div.img{
    height: 650px;
    background-size: cover;
}

div.column div.img-1{
    background-image: url(../img/1.webp);
}

div.column div.img-1:hover {
    background-image: url(../img/1b.webp);
}

div.column div.img-2{
    background-image: url(../img/2.webp);
}

div.column div.img-2:hover{
    background-image: url(../img/2b.webp);
}

div.column div.img-3{
    background-image: url(../img/3.webp);
}

div.column div.img-3:hover{
    background-image: url(../img/3b.webp);
}

div.column div.img-4{
    background-image: url(../img/4.webp);
}

div.column div.img-4:hover{
    background-image: url(../img/4b.webp);
}

div.column div.img-5{
    background-image: url(../img/5.webp);
}

div.column div.img-5:hover{
    background-image: url(../img/5b.webp);
}

div.column div.img-6{
    background-image: url(../img/6.webp);
}

div.column div.img-6:hover{
    background-image: url(../img/6b.webp);
}

div.column ul{
    list-style-type: none;
}

div.img div.heart{
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 2rem;
    background-color: white;
    padding: 5px 10px;
}

div.img div.heart:hover{
    color: red;
}

div.img div.banner{
    position: absolute;
    bottom: 40px;
    left: 0;
    font-size: 1rem;
}

span.discount{
    background-color: red;
    color: white;
    padding: 5px 4px;
}

span.bonus{
    background-color: green;   
    color: white;
    padding: 5px 4px;
    margin-left: 5px;
}

.item-price{
    color: red;
}

.item-price span{
    color: black;
    text-decoration: line-through;
}

/* FOOTER */

footer{
    height: 10rem;
    background-color: #1a1a1a;
    color: white;
}

footer>div{
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

footer div.right-foot{
    line-height: 2.5rem;
}

div.logo-foot img{
    margin-top: 0.6rem;
    height: 2rem;
}